<ion-content padding class="manage-task-page" page-manage-task>
  <ion-grid no-border no-padding-left>
    <ion-row>
      <ion-col col-12 col-md-6>
        <input type="checkbox" id="username" [(ngModel)]="searchOption.username" value="username" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="username">User Name</label>
        <ion-input *ngIf="searchOption.username" [disabled]="!searchOption.username" class="padding-left-20" border-bottom-gray bg-none [(ngModel)]="searchInput.username" placeholder="Type User Name here"></ion-input>
      </ion-col>
      <ion-col col-12 col-md-6>
        <input type="checkbox" id="policy_number" [(ngModel)]="searchOption.policy_number" name="policy_number" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="policy_number">Policy Number</label>
        <ion-input *ngIf="searchOption.policy_number" [disabled]="!searchOption.policy_number" class="padding-left-20" border-bottom-gray bg-none [(ngModel)]="searchInput.policy_number" placeholder="Type Policy Number here"></ion-input>
      </ion-col>
      <ion-col col-12 col-md-6>
        <input type="checkbox" id="role_distribution" [(ngModel)]="searchOption.role_distribution" name="role_distribution" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="role_distribution">Role Distribution</label>
        <ion-input *ngIf="searchOption.role_distribution" [disabled]="!searchOption.role_distribution" class="padding-left-20" border-bottom-gray bg-none [(ngModel)]="searchInput.role_distribution" placeholder="Type Role Distribution here"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button (click)="searchTask()" ion-button full outline small>Start Searching</button>
  <div padding>
    <div>choose next action</div>
    <ion-grid no-border no-padding-left>
      <ion-row>
        <ion-col col-12 col-md-3>
          <input type="radio" id="ac_retrigger" [(ngModel)]="actionOption" value="ac_retrigger" name="ac_retrigger" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="ac_retrigger">Retrigger</label>
        </ion-col>
        <ion-col col-12 col-md-3>
          <input type="radio" id="ac_resume_suspend_case" [(ngModel)]="actionOption" value="ac_resume_suspend_case" name="ac_resume_suspend_case" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="ac_resume_suspend_case">Resume Suspend Case</label>
        </ion-col>
        <ion-col col-12 col-md-3>
          <input type="radio" id="ac_transfer_to_pool" [(ngModel)]="actionOption" value="ac_transfer_to_pool" name="ac_transfer_to_pool" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="ac_transfer_to_pool">Transfer to Pool</label>
        </ion-col>
        <ion-col col-12 col-md-3>
          <input type="radio" id="ac_transfer_to_user" [(ngModel)]="actionOption" value="ac_transfer_to_user" name="ac_transfer_to_user" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="ac_transfer_to_user">Transfer to User</label>
          <div *ngIf="actionOption == 'ac_transfer_to_user'" class="padding-left-20">
            <ion-select [(ngModel)]="transferUsername" class="max-width-100" no-padding-left border-bottom-gray>
              <ion-option value="">n/a</ion-option>
              <ion-option value="{{item}}" *ngFor="let item of listUsers">{{item}}</ion-option>
            </ion-select>
          </div>
        </ion-col>
        <ion-col col-12 col-md-3>
          <input type="radio" id="ac_terminate" [(ngModel)]="actionOption" value="ac_terminate" name="ac_terminate" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="ac_terminate">Terminate</label>
        </ion-col>
        <ion-col col-12 col-md-3>
          <input type="radio" id="ac_force_finish" [(ngModel)]="actionOption" value="ac_force_finish" name="ac_force_finish" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="ac_force_finish">Force Finish</label>
        </ion-col>
        <ion-col col-12 col-md-3>
          <input type="radio" id="ac_force_restart" [(ngModel)]="actionOption" value="ac_force_restart" name="ac_force_restart" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="ac_force_restart">Force Restart</label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button (click)="takeAction()" ion-button full outline small>Take Action</button>
    <button (click)="resumeAllErrorCase()" ion-button full small>Resume All Error Case</button>
  </div>
  <div margin-top class="task-lists padding margin-bottom-100" margin-bottom padding-bottom>
    <div class="pagination">
      <span *ngFor="let page of numberOfPages;let page_index = index; "><button (click)="openPage(page)" [ngClass]="{'active' : page == activePage}" small outline ion-button>{{page_index+1}}</button></span>
    </div>
    <div *ngFor="let item of searchTaskResult; let i = index ">
      <div *ngIf="(((i+1) >= 1+(perPage*activePage)) && ((i+1) <= (perPage+(perPage*activePage)))) && item" task-list margin-vertical padding position-relative class="padding-left-20">
        <input type="checkbox" [(ngModel)]="itemList[i]" id="item_{{i}}" position-absolute left-0 value="{{i}}">
        <h6 cursor-pointer no-margin><label cursor-pointer for="item_{{i}}">{{this.searchTaskResult[i].roleDistribution}}<span *ngIf="item._worklistData.activityName">::</span>{{item._worklistData.activityName}}<span *ngIf="this.searchTaskResult[i].taskName">::</span>{{this.searchTaskResult[i].taskName}}</label></h6>
        <!-- <div update-info>Last updated by <span color-red>Hello Kitty</span> on Wed, 13 October 2017 19:00:00</div> -->
        <ion-grid>
          <ion-row>
            <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Username</div>
              {{this.searchTaskResult[i].username}}
            </ion-col>
            <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Created Date</div>
              {{item._worklistData.createdDate | date: 'EEE, dd MMM y HH:mm:ss'}}
            </ion-col>
            <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>SPAJ Number</div>
              {{item._worklistData.spajNumber}}
            </ion-col>
            <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Premium Indicator</div>
              {{item._worklistData.premiumIndicator}}
            </ion-col>
            <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Policy Number</div>
              {{item._worklistData.policyNumber}}
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="details-container">
          <div color-red open-details (click)="openDetails($event, item)">
            <span style="display: none;">hide details <ion-icon  name="md-arrow-dropup" color-red></ion-icon></span>
            <span>open details <ion-icon name="md-arrow-dropdown" color-red></ion-icon></span>
          </div>
          <div class="details">
            <ion-grid>
              <ion-row>
                <ion-col col-md-4 col-6 class="item">
                  <div text-uppercase field-name>Aging Days</div>
                  {{item._worklistData.agingDays}}
                </ion-col>
                <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Bank Channel</div>
                  {{item._worklistData.bankChannel}}
                </ion-col>
                <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Scan Date</div>
                  {{item._worklistData.scanDate}}
                </ion-col>
                <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Last Decision</div>
                  {{item._worklistData.lastActionUser}}
                </ion-col>
                <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Total SAR</div>
                  {{item._worklistData.totalSAR}}
                </ion-col>
                <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Component Code</div>
                  {{item._worklistData.componentCode}}
                </ion-col>
                <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Source Submission</div>
                  {{item._worklistData.sourceOfSubmission}}
                </ion-col>
                <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Policy Format</div>
                  {{item._worklistData.format}}
                </ion-col>
                <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Trigger Source</div>
                  {{item._worklistData.sourceCallUser}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <span *ngFor="let page of numberOfPages;let page_index = index; "><button (click)="openPage(page)" [ngClass]="{'active' : page == activePage}" small outline ion-button>{{page_index+1}}</button></span>
    </div>
  </div>
</ion-content>
  
