page-manage-task {
  ion-content .scroll-content{
    padding-bottom: 200px !important;
  }

  .action-list{
    width: calc(100vw - 55px);
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ebebeb;
    -webkit-transition: all 500ms ease; 
    transition: all 500ms ease;
  }

  .pagination{
    bottom: 230px;
  }

  button.active{
    background-color: map-get($colors, primary);
    color: #fff;
  }
}

.open-sub-menu .action-list{ 
  width: calc(100vw - 255px); 
}

