<ion-content padding>
	<ion-grid no-border no-padding-left>  
			<div style="margin-left:15px">
					<ion-row>
						<ion-col col-12 col-md-12>
							<input type="checkbox" id="sendTime" [(ngModel)]="searchOption.sendTime" name="sendTime"><label cursor-pointer for="sendTime">  Send Date Period</label>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col *ngIf="searchOption.sendTime" style="margin-left:15px;" col-5 col-md-5>
								<ion-label style="font-size:1.2rem;">From</ion-label>
								<ion-datetime 
									pickerFormat="YYYY-MM-DD" 
									displayFormat="DD-MM-YYYY" 
									name="sendTime" 
									placeholder="Select date" 
									[(ngModel)]="startDate" 
									[ngModelOptions]="{standalone: true}"
									style="padding-left:0;"
									></ion-datetime>
						</ion-col>
						<ion-col *ngIf="searchOption.sendTime" style="margin-left:15px;" col-5 col-md-5>
								<ion-label style="font-size:1.2rem;">To</ion-label>
								<ion-datetime 
									pickerFormat="YYYY-MM-DD" 
									displayFormat="DD-MM-YYYY" 
									name="sendTime" 
									placeholder="Select date" 
									[(ngModel)]="endDate" 
									[ngModelOptions]="{standalone: true}"
									style="padding-left:0;"
									></ion-datetime>
						</ion-col>
					</ion-row>
					</div>
		<!-- ./ion-row -->
		<ion-row>
				<ion-col col-12 col-md-12 style="margin-left:15px;">
					<input type="checkbox" id="channel" [(ngModel)]="searchOption.channel" name="channel" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="channel">Channel</label>
					<ion-item *ngIf="searchOption.channel">
						<ion-label class="mn" style="font-size:0.8em; color:grey">Channels</ion-label>
							<ion-select [(ngModel)]="typeOfChannel" [ngModelOptions]="{standalone: true}">
								<ion-option value="">All</ion-option>
								<ion-option value="Email">Email</ion-option>
								<ion-option value="Sms">SMS</ion-option>
								<ion-option value="Pruforce">Pruforce</ion-option>
							</ion-select>
						<!-- <ion-input class="menu" type="text"></ion-input> -->
					  </ion-item> 
				</ion-col>
			</ion-row>
		<!-- ./ion-row -->
		
		<ion-row>    
			<ion-col col-12 col-md-6>
				<button (click)="getReports2(startDate,endDate,typeOfChannel)" small ion-button full outline>SEARCH</button>
			</ion-col>
			<ion-col col-12 col-md-6>
				<button (click)="export(startDate,endDate,typeOfChannel)" small ion-button full outline>EXPORT</button>
			</ion-col>
		</ion-row>  
		<!-- ./ion-row -->
	</ion-grid>
	<!-- ./ion-grid -->
	
	<div margin-top class="task-lists" margin-bottom padding-bottom>
		<div task-list *ngFor="let data of reports2" margin-vertical padding-vertical>
			<ion-grid>
                <ion-row>
                    <ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Channel</div>
						<span>{{data.channel}}</span>
					</ion-col>
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Subject</div>
						<span>{{data.subject}}</span>
					</ion-col>
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Release Date</div>
						<span>{{data.releaseDate | date: 'EEEE, dd MMMM yyyy H:mm'}}</span>
					</ion-col>
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Summary/Remarks</div>
						<span>{{data.remarks}}</span>
					</ion-col>
					<ion-col col-12 class="item">
						<div text-uppercase field-name>Body</div>
						<span>{{data.body}}</span>
					</ion-col>
                </ion-row>
			</ion-grid>
			<div class="details-container">
				<div color-red open-details (click)="openDetails($event)">
					<span style="display: none;">hide details for Reach Type of Agents<ion-icon  name="md-arrow-dropup" color-red></ion-icon></span>
					<span>open details for Reach Type of Agents <ion-icon name="md-arrow-dropdown" color-red></ion-icon></span>
				</div>
				<div class="details">
					<ion-grid>
						<ion-row>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>AG</div>
								{{data.totalAg}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>MA</div>
								{{data.totalMa}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>AA</div>
								{{data.totalAa}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>AD</div>
								{{data.totalAd}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>FC</div>
								{{data.totalFc}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>MF</div>
								{{data.totalMf}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>As</div>
								{{data.totalAs}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>Ns</div>
								{{data.totalNs}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>Na</div>
								{{data.totalNa}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>Gao</div>
								{{data.totalGao}}
							</ion-col>
							<ion-col col-md-2 col-4 class="item">
								<div text-uppercase field-name>Total</div>
								{{data.total}}
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
				<!-- details -->
			</div>
			<!-- ./details-container -->
		</div>
		<!-- ./task-list -->
	</div>
	<!-- ./task-lists -->
</ion-content>

  