
<ion-header>
    <ion-navbar bg-none>
        <h6 no-margin cursor-pointer></h6>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form>
          <ion-col col-12>
              <ion-item>
                <ion-label stacked>Subject Email</ion-label>
                <ion-input type="text" [(ngModel)]="subject" name="subject" [ngModelOptions]="{standalone: true}"
                  ></ion-input>
              </ion-item>
            </ion-col>
    <div class="bodyck">
        <ion-label style="font-size:1.2rem;">Body Email</ion-label>
        <!-- <ckeditor [(ngModel)]="body" [config]="config" [readonly]="false" debounce="0" [ngModelOptions]="{standalone: true}">
                <ckbutton [name]="'insertAgentNameButton'"
                  [command]="'insertAgentName'"
                  (click)="insertAgentName($event)"
                  [icon]="'icon-person.png'"
                  [label]="'Insert Agent Name'"
                  [toolbar]="'colors,3'"></ckbutton>
              </ckeditor> -->
        <div class="document-editor">
            <div class="document-editor__toolbar"></div>
            <div class="document-editor__editable-container">
                <div id="document-editor-editable" #documentEditorEditable></div>
            </div>
        </div>
    </div>
    <!-- <ion-row>
        <ion-col col-12 col-md-12>
            <p style="float:right">{{charactersLeft}} character(s) left</p>
        </ion-col>      
    </ion-row> -->
      <ion-row>    
          <ion-col col-12 col-md-12>
              <button ion-button type="submit" (click)="post(id,subject)"  small ion-button full outline>SAVE</button>
          </ion-col>
          <!-- <ion-col col-12 col-md-6>
              <button ion-button type="reset" (click)="cancel()" small ion-button full outline>CANCEL</button>
          </ion-col> -->
        </ion-row>  
    </form>
  </ion-content>