

<ion-content padding>
  <form>
    <ion-grid fixed>
 
          <ion-row>
              <ion-col col-12 col-md-12 style="margin-left:15px;">
                  <input type="checkbox" id="menu" [(ngModel)]="searchOption.menu" name="menu" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="menu">Menu</label>
                  <ion-item *ngIf="searchOption.menu">
                      <ion-label class="mn" style="font-size:0.8em; color:grey">Menu</ion-label>
                        <ion-select [(ngModel)]="menu" [ngModelOptions]="{standalone: true}">
                          <ion-option value="Email">Email</ion-option>
                          <ion-option value="Sms">SMS</ion-option>
                          <ion-option value="PruforceNotification">Pruforce</ion-option>
                          <ion-option value="Email Template">Body Email Template</ion-option>
                          <ion-option value="All">All</ion-option>
                       </ion-select>
                      <!-- <ion-input class="menu" type="text"></ion-input> -->
                    </ion-item> 
              </ion-col>
          </ion-row>
          <div style="margin-left:15px">
              <ion-row>
                  <ion-col col-12 col-md-12>
                      <input type="checkbox" id="sendTime" [(ngModel)]="searchOption.sendTime" name="sendTime"><label cursor-pointer for="sendTime">  Action Date Period</label>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col *ngIf="searchOption.sendTime" style="margin-left:15px;" col-4 col-md-4>
                          <ion-label style="font-size:1.2rem;">From</ion-label>
                          <ion-datetime 
                              pickerFormat="YYYY-MM-DD" 
                              displayFormat="DD-MM-YYYY" 
                              name="sendTime" 
                              placeholder="Select date" 
                              [(ngModel)]="startDate" 
                              [ngModelOptions]="{standalone: true}"
                              style="padding-left:0;"
                              ></ion-datetime>
                  </ion-col>
                  <ion-col *ngIf="searchOption.sendTime" style="margin-left:15px;" col-4 col-md-4>
                          <ion-label style="font-size:1.2rem;">To</ion-label>
                          <ion-datetime 
                              pickerFormat="YYYY-MM-DD" 
                              displayFormat="DD-MM-YYYY" 
                              name="sendTime" 
                              placeholder="Select date" 
                              [(ngModel)]="endDate" 
                              [ngModelOptions]="{standalone: true}"
                              style="padding-left:0;"
                              ></ion-datetime>
                  </ion-col>
              </ion-row>
              </div>
      
      <ion-row>    
        <ion-col col-12>
            <button (click)="search(menu,startDate,endDate)" small ion-button full outline>SEARCH</button>
        </ion-col>
      </ion-row>     

      <br>
      <br>
     
    <div task-list margin-vertical padding-vertical  *ngFor="let auditTrail of auditTrails; let i = index;">
      <ion-grid>
        <ion-row>
          <ion-col col-md-6 col-6 class="item">
            <div text-uppercase field-name>Menu</div>
            {{auditTrail.menu}}
          </ion-col>
          <ion-col col-md-6 col-6 class="item">
            <div text-uppercase field-name>User Login</div>
            {{auditTrail.userLogin}}
          </ion-col>
          <ion-col col-md-6 col-6 class="item">
            <div text-uppercase field-name>Action</div>
            {{auditTrail.action}}
          </ion-col>
          <ion-col col-md-6 col-6 class="item">
            <div text-uppercase field-name>Action Date</div>
            {{auditTrail.actionDate | date:'medium':'+0700' }}
          </ion-col>
          <!-- <ion-col col-md-12 col-12 class="item">
            <div text-uppercase field-name>Detail</div>
            {{auditTrail.detail}}
          </ion-col> -->
        </ion-row>
      </ion-grid>
      <div class="details-container">
        <div color-red open-details (click)="openDetails($event, auditTrail)">
          <span style="display: none;">hide details <ion-icon  name="md-arrow-dropup" color-red></ion-icon></span>
          <span>open details <ion-icon name="md-arrow-dropdown" color-red></ion-icon></span>
        </div>
        <div class="details">
          <ion-grid>
            <ion-row>
              <ion-col col-12 class="item">
                <div text-uppercase field-name>Details</div>
                {{auditTrail.detail}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>

    </ion-grid>
    <ion-row *ngIf="auditTrails?.length > 0 && lengthData == size">
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-row>

     <!-- <button ion-button block menuToggle>Toggle Menu</button> -->
  </form>
</ion-content>