@mixin middle ($mt, $ml, $mr , $minmc) {
  top: $mt;
  left: $ml;
  right: $mr;
  -webkit-transform: translate($minmc, $minmc);
  -moz-transform:    translate($minmc, $minmc);
  -ms-transform:     translate($minmc, $minmc);
  -o-transform:      translate($minmc, $minmc);
  transform: translate($minmc, $minmc);
}

@mixin middle_manual ($mt, $ml, $mr , $minmX, $minmY ) {
  top: $mt;
  left: $ml;
  right: $mr;
  -webkit-transform: translate($minmX, $minmY);
  -moz-transform:    translate($minmX, $minmY);
  -ms-transform:     translate($minmX, $minmY);
  -o-transform:      translate($minmX, $minmY);
  transform: translate($minmX, $minmY);
}

@mixin radius ($border) {
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  border-radius: $border;
}

@mixin radius-manual ($btl, $bbl, $btr, $bbr) {
  -webkit-border-top-left-radius: $btl;
  -moz-border-radius-topleft: $btl;
  -webkit-border-bottom-left-radius: $bbl;
  -moz-border-radius-bottomleft: $bbl;
  -webkit-border-top-right-radius: $btr;
  -moz-border-radius-topright: $btr;
  -webkit-border-bottom-right-radius: $bbr;
  -moz-border-radius-bottomright: $bbr;
  border-top-left-radius: $btl;
  border-bottom-left-radius: $bbl;
  border-top-right-radius: $btr;
  border-bottom-right-radius: $bbr;
}
$break-small: 320px;
$phonesMax : 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$break-large: 1200px;
$break-largeMd: 1400px;

@mixin phones {
  @media only screen and (min-width: #{$break-small - 1px}) and (max-width: #{$tablet-width - 1px}) {
     @content;
  }
}

@mixin phonesLands {
  @media only screen 
  and (min-device-width : #{$break-small}) 
  and (max-device-width : #{$tablet-width - 1px}) 
  and (orientation : landscape) { 
    @content;
  }
}

@mixin maxPhones {
  @media (max-width: #{$phonesMax}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin minTablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin ipadPro {
  @media only screen 
  and (min-device-width : #{$desktop-width}) 
  and (max-device-width : #{$desktop-width}) 
  and (min-width: #{$desktop-width}) and (max-width: #{$desktop-width}) { 
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktopLarge {
  @media (min-width: #{$break-large}) {
    @content;
  }
}

@mixin desktopBiggest {
  @media (min-width: #{$break-largeMd}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit Box fallback.
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else { 
    -ms-flex-wrap: $value; 
  }
  flex-wrap: $value;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}