@import "mixin";


[task-list]{
  font-size: 15px;
  border-bottom: 1px solid #acacac;

  ion-icon{
    vertical-align: middle;
    font-size: 25px;
  }

  &.border-single-item {
    border-bottom: 1px solid #acacac;

    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }

  .item{
    margin-bottom: 5px;
    padding-left: 20px;
  }

  .col{
    color: #404040;
  }

  [field-name]{
    color: #4c4c4c;
    font-size: 10px;
    margin-bottom: 5px;
  }

  [open-details]{
    cursor: pointer;
    font-size: 12px;
  }

  .details{
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;

    .grid{
      background: #fff;
      padding: 0 20px !important;
    }

    .terms{
      border-top: solid 1px #f4f4f4;

      .terms-list{
        border-bottom: 1px solid #f6f6f6;

        &:last-child{
          border-bottom: none;
        }

        .term{
          padding-right: 0 !important;
        }
      }
    }

    &.details-fluid {
      &.no-content {
        .list-number-table {
          margin-left: 0;
        }

        .terms {
          margin-left: 25px;
        }
      }

      .app-term {
        margin-left: -20px;
      }

      .grid {
        padding: 0!important;
      }

      .list-number-table {
        margin-left: 22px;
        margin-right: 0;
        padding-right: 30px;

        p {
          margin: 0;
        }
      }

      .terms {
        margin-left: 50px;
        // margin-right: -20px;
        // padding-left: 20px;
        // padding-right: 20px; 
         border-top: solid 1px transparent;
        .grid {
          padding: 0!important;
          // margin-left: 20px;
        }

        .list-number-table {
          margin-left: 0;
          margin-right: 0;

          .term {
            margin: 0;
          }
        }

        .strip-title {
          ion-icon {
            position: relative;
            top: auto;
            left: 10px;
            font-size: 12px;
          }
        }

      }
    }
  }

  .details.open{
    height: 10px;
  }

  ion-label {
    color: #656565;
    font-size: 12px;
  }
}

[accordion]{
  margin: 10px 0;
  .accordion-head{
    background-color: map-get($colors, primary);
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 12.5px 25px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    // max-width: 80%;
    margin: auto;

    &.accordion-outline{
      color: map-get($colors, primary);
      font-weight: bold;
      border: 2px solid map-get($colors, primary);
      background-color: transparent;
      font-size: 1em;
      padding: 6px 10px;

      ion-icon{
        font-size: 25px;
        top: -5px;
        position: relative;
      }
    }
  }

  .accordion-body{
    height: 0px;
    overflow: hidden;
    width: 100%;
  }

  [transition-duration='300']{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
  }

  [transition-duration='1000']{
    -webkit-transition: all 700ms linear;
    -moz-transition: all 700ms linear;
    -ms-transition: all 700ms linear;
    -o-transition: all 700ms linear;
    transition: all 700ms linear;
  }

  &.acc-table {
    margin: 0;
    padding: 0!important;
    color: #404040;

    .accordion-head {
      background-color: #fff;
      color: #404040;
      @include radius (0);
      padding: 0px 25px;
      position: relative;

      ion-icon {
        position: absolute;
        color: #ed1b2e;
        // @include middle_manual (50%,10px,auto,0,-50%);
        left: 12px;
        top: 12px;
        font-size: 22px
      }
    }
  }

  &.acc-no-side {
    padding: 0!important;
  }
}

[tor]{
  font-size: 12px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px 5px;
  margin-right: 10px;
  background-color: #f5f5f5;

  @include phones {
    padding: 2px 6px;
    font-size: 10px;
  }
}

[tor].adm{
  background-color: map-get($colors, green);
}

[tor].jet{
  background-color: map-get($colors, primary);
}

[tor].med{
  background-color: map-get($colors, brown);
}

[update-info]{
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}

[head-dropdown]{
  [col-6]{
    padding: 0;
    border: 1px solid #dadada;
    overflow: hidden;
  }

  [col-6]:first-child{
    border-right: 1px solid #dadada;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
  }

  [col-6]:last-child{
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
  }

  .item-block{
    background-color: #f5f5f5;
    min-height: 40px;

    .item-inner{
      border-bottom: none !important;
      color: #404040;
      font-size: 10px;
      text-transform: uppercase;

      .select-icon{
        height: 10px;
        right: 30px;
        position: absolute;
        top: 15px;

        @include phones {
          right: 8px;
        }
      }

      ion-select{
        min-width: 100%;
        display: block;
      }
    }
  }

  .item-ios {
    @include phones {
      padding-left: 0;
    }
  }
}

[image-list]{
  width: 100%;
  height: auto;
  position:relative;

  [image-list-nav-left]{
    position: absolute;
    top: 50%;
    color: #fff;
    margin-top: -17px;
    margin-left: 7px;

    ion-icon{
      font-size: 35px;
    }
  }

  [image-list-nav-right]{
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    margin-top: -17px;
    margin-right: 7px;

    ion-icon{
      font-size: 35px;
    }
  }

  [image-list-wrapper]{
    margin:auto;
    width: 90%;
    overflow: hidden;

    .image-list-container{
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear;
      left: 0;
      position: relative;

      .image-item {
        width: 160px;
        max-height: 228.86px;
        margin: 5px;
        display: inline-block;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
        cursor: pointer;
      }
      .image-item [selected]{
        border: 1px solid map-get($colors, primary);
      }
    }
  }
}

.image-item {
  canvas{
    width: 100%;
  }
}
ion-tabs{
  .scroll-content{
    // margin-bottom:49px;
  }
}

.main-content{
  height: calc(100% - 80px);
}

.list-tab {
  &.list-ios {
    position: relative;
    padding-top: 15px;
    margin: -1px 0 0;
  }
}

.reupload {
  position: relative;

  ion-label {
    font-size: 11px;
    text-transform: uppercase;
    color: #ed1b2e;
  }

  .checkbox-ios{
    .checkbox-icon {
      border-radius: 0;
      position: relative;
      width: 21px;
      height: 21px;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      background-color: #fff;

      &:before {
        content: "\f2e9";
        font-family: "Ionicons";
        color: #c8c7cc;
        font-size: 22px;
        position: absolute;
        @include middle (50%, 0, auto, -50%);
        margin-left: 5px;
      }
    }

    .checkbox-checked {
      border-color: transparent;
      background-color: transparent;

      &:before {
        content: "\f2e9";
        font-family: "Ionicons";
        color: #ed1b2e;
        font-size: 22px;
        position: absolute;
        @include middle (50%, 0, auto, -50%);
        margin-left: 5px;
      }
    }

    .checkbox-inner {
      display: none;
    }
  }
}

.tab-container {
  position: relative;
  margin: 20px 20px 0;

  .title {
    font-size: 12px;
    margin: 0;
  }
}

.item-with-caret {
  position: relative;
  padding-left: 20px !important;

  ion-icon {
    position:  absolute;
    @include middle (45%, 0, auto, -50%);
    color: #eabd5f;
    margin-left: 5px;
    font-size: 26px;
  }
}

[accordion] .accordion-head {
  background-color: #ed1b2e;

  &.grey {
    background-color: #acacac;
  }
}

.wrap-button-submit {
  position: relative;
  margin: 0 0 20px;
  text-align: center;
  border-top: 1px solid #555;
  padding: 15px 0;

  button {
    font-size: 13px;
    padding: 0 8em;
  }
}

.button-ios-dark {
  color: #fff;
  background-color: #555555!important;

  &.light-gray {
    background-color: #bcbcbc!important;
  }
}

.footer-coment-box {
  display: block;
  padding: 10px 0 0px;
  border-top: 1px solid #ffffff9e;
  margin: 0 -15px;

  .btn-coment {
    padding: 0 40px;
  }
}

.topup-val-with-icon {
  position: relative;
  display: block;

  ion-icon {
    position: absolute;
    @include middle (50%, auto, 0, -50%);
    color: #ed1b2e;
    font-size: 26px;
  }
}

.container-tabs {
  height: 100%;
  max-height: 100%;
}

.bg-grey {
  background-color: #acacac;
}

.login-content{
  background-image: url('../assets/imgs/login-bg.png');
  background-size: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}
#imageView canvas{
  width: 100%;
}

.button-ios {
  &.btn-xs {
    height: 25px;
    width: 25px;
    font-size: 9px;
    padding: 5px!important;
  }

  &.btn-circle {
    @include radius (50%);

    &.active {
      background-color: #3B812C;
    }
  }

  &.btn-round {
    @include radius (20px);
  }

  &.btn-dark {
    background-color: #555555;
  }
}

body {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.task-round-list {
  position: relative;
  padding: 8px 20px 4px;
  padding-left: 55px;

  .round-icon {
    display: inline-block;
    position: absolute;
    @include middle_manual (48%, 15px , auto , 0,  -50%);
    width: 38px;
    height: 38px;
    @include radius (50%);
    background-color: #464646;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
  }

  .btn-link-icon {
    position: absolute;
    display: inline-block;
    @include middle_manual (48%, auto , 15px , 0,  -50%);
    font-size: 14px;
  }
}

ion-title {
  &.title-header-nav {
    padding: 0 60px 1px!important;

    .toolbar-title-ios {
      text-align: left;
      font-weight: normal;
      color: #111111;
    }
  }
}

.claim-container {
  padding: 10px 15px;
}

.tabs-claim-cs {
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ee1b2c;
    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: #111111;
        padding: 10px 15px;
        display: block;
        margin: 5px 0;

        &.active {
          background-color: #ebebeb;
          color: #ee1b2c;
        }
      }
    }
  }
}

.checkbox-cs {
  .label-ios {
    font-size: 14px;
    margin: 5px 8px 5px 0;
  }
  .checkbox-ios {
    .checkbox-icon {
      border-radius: 0;
      width: 18px;
      height: 18px;
    }
    .checkbox-checked .checkbox-inner {
      left: 6px;
      top: 3px;
    }
  }

  &.item-ios{
    padding-left: 0;
    &.item-block .item-inner {
      padding-right: 8px;
      padding-right: 8px;
      border-bottom: none;
    }
  }
}

.label-list {
  display: inline-block;
}

.select-ios {
  &.dropdown-cs {
    padding: 8px 10px 8px 11px;
    border: 1px solid #111;
    @include radius (5px);
    position: relative;
  }

  &.dropdown-cs-no-border {
    border: none;
  }
}

[table]{
  &.table{
    [table-header], [table-cell]{
      color: map-get($colors, gray)
    }
    [table-cell]:nth-child(odd){
      background-color: map-get($colors, light-gray02);
    }
  }
}
table {
  // margin-bottom: 20px;
  &.table-cs {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
      border-spacing: 0;
    border-collapse: collapse;

    thead {
      background-color: #cccccc;
      tr {
        th {
          padding: 8px 10px;
          text-align: left;
          line-height: 1.4;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 8px 10px;
        }
      }
    }
  }
}

.list-doc-standing {
  position: relative;

  .head-doc {
    text-align: center;
    background-color: #999999;
    line-height: 1.4;
    padding: 10px;
    color: #fff;
  }
}

[accordion] .accordion-head.acc-grey{background-color: #eeeeee; color: #111;}

[table] {
  border: 1px solid #555555;
}

.acc-no-border {
  .item-ios.item-block .item-inner {
    border-bottom: none;
  }

  .accordion-head {
    color: #555;
    @include radius (0);
  }

  .head-desc {
    border-top: 1px solid #c8c7cc;
    margin-top: 15px;
    font-weight: normal;
  }

  &.acc-transparent {
    background-color: #fff;
  }
}

.details-show-content {
  position: relative;
  overflow: hidden;

  // &:before{
  //   content: " ";
  //   display: "block";
  //   position: absolute;
  //   height: 1px;
  //   width: 100%;
  //   top: 10px;
  //   background: #f6f6f6;
  // }

  .header{
    padding: 0 10px 0 0px;
    position: relative;
    // overflow: hidden;
    margin-right: 15px;

    &:after {
      content: '';
      width: 100%;
      position: absolute;
      height: 1px;
      background-color: #f6f6f6;
      top: 50%;
      margin-left: 8px;
    }

    &.two-btn {

      &.header-table-btn  {
        margin-left: -25px;
        width:175px;

        &:nth-child(2) {
          width: calc(99% - 175px);

        }
      }

      span {
        position: relative;
        background-color: #fff;
        display:inline-block;
        padding: 3px 5px;
        z-index:1;
      }

      &:after {
        content: '';
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #f6f6f6;
        top: 55%;
        margin-left: 8px;
      }
    }
  }

  .grid{
    padding: 0 20px !important;
    background: #f6f6f6;

    &[no-padding] {
      padding: 0!important;
    }
  }

  &.show-table-head {
    // margin-left: -33px;
    // margin-right: -20px;
  }
}

.list-i-content {
  position: relative;

  h6 {
    text-align: left;
    position: relative;
    padding-right: 20px;
  }

  .icon-list-link {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-56%);
    -moz-transform:    translateY(-56%);
    -ms-transform:     translateY(-56%);
    -o-transform:      translateY(-56%);
    transform: translateY(-56%);
  }
}

.table-strip {
  .row {
    &:nth-child(2n+1) {
      background-color: #f6f6f6;
    }
  }
}

.table-color {
  .row {
    background-color: #f6f6f6;
    border-bottom: 1px solid #f6f6f6;

    &:last-child{
      border-bottom-color: transparent;
    }
  }
}

.form-inline {
  ion-input {
    width: auto;
    display: inline-block;
    margin: 0;

    .text-input-ios {
      margin:  0;
    }
  }
}

ion-input {
  &.form-margin-0 {
    .text-input-ios {
      margin: 0;
    }
  }
}

.footer-table {
  padding: 10px 15px;
  border-top: 1px solid #f6f6f6;
}

.radio-cs {
  display: inline-block;
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 10px;
      height: 10px;
      background: #ed1b2e;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

.radio-group-list {
  overflow: hidden;

  .radio-cs {
    float: left;
  }
}

.list-number-table {
  position: relative;

  .no-list {
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: bold;
  }
}

.from-with-delete {
  position: relative;
  span {
    display: inline-block;
    padding-top: 10px;
  }

  .select-ios.dropdown-cs  {
    // display: inline-block;
  }

  .form-delete {
    position: absolute;
    top:50%;
    right: 0!important;
    font-size: 22px;
    left:auto!important;
  }
}

.title-section-content {
  border-bottom: 2px solid #ed1b2e;
  padding-left: 15px;
  padding-bottom: 5px;
}

.strip-title {
  position: relative;
  display:inline-block;
  margin-left: 60px;
   background-color: #fff;
   padding: 0 2px;
  // top: 20px;
  z-index: 1;
  right:0;
  top: 8px;

  span {
    position: relative;
    background-color: #fff;
    z-index: 1;
    padding: 0 10px;
  }
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #f6f6f6!important;
    top: 50%;
    margin-left: 8px;
    left: -60px;
    z-index:0;
  }
}

ion-list.search-bar-list{
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

ion-searchbar.no-outline{
  background-color: transparent;
}

.button {
  &.btn-excl {
    margin: 0;
    margin-top: -7px!important;
    margin-left: 5px;
  }
}

.ios  {
  .modal-wrapper {
    @include radius(0!important);
    width: 80%;
    left: calc(50% - (80%/2));
    top: calc(50% - (80%/2));
    height: 80%;
  }
}

[header-modal-cs] {
  border-bottom: 1px solid #ed1b2e;
  // margin: 0 40px;

  &.toolbar-ios {
    ion-title {
      padding: 0 40px;
      text-align: left;
    }
  }

  .toolbar-title-ios {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
  }

  .toolbar-background-ios {
    background: #fff; 
  }
}

.header-ios {
  [header-modal-cs] {
    .toolbar-background-ios {
      border-color: transparent!important;
    }
  }
}

[title-w-icon] {
  position: relative;
  padding-right: 18px;

  ion-icon {
    position: absolute;
    @include middle_manual (50%, auto, -8px, 0, -50%)
  }
}

.policy-dropdown{ 
  display: flex; 
  margin-top: 0px; 
  float: left; 
  margin-right: 10px; 
  flex-direction: row!important; 
 
  .select-ios.dropdown-cs{ 
    width: 15px !important; 
    border: none; 
    padding: 0; 
    margin-top: 0 !important; 
    margin-right: 10px; 
  } 
 
  .select-text{ 
    display: none; 
  } 
 
  .select-ios .select-icon .select-icon-inner{ 
    color: #ee1b2f; 
  } 
}