[casesheet-comment]{
    background-color: #ffffff;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 8px 10px 10px 10px;
    padding: 15px 30px;
    font-size: 15px;
}

.dropdown-full-width {
	.select-ios {
    padding: 2px 8px 2px 0px;
    max-width: 100%;
    width: 1005;
	}

  &.no-border.item-ios.item-block {
   .item-inner {
        padding-right: 0px;
        padding-right: 0px;
        border-bottom: 0.55px solid transparent;
    }
  }
}

.top-up .select-ios .select-icon .select-icon-inner{
  color: map-get($colors, primary);
}

.label-right{
    order: 2
}

.no-margin-input input{
  margin:0 !important;
}
.with-border-input {
  .text-input-ios {
    border-bottom: 1px solid #ffffffad;
    margin: 5px 8px 5px 0;
    padding: 10px 3px;
  }
}

.popover-ios .popover-content{
  width: auto !important;
  min-width: 200px !important;
  max-width: 100% !important;
}

.searchbox {
  .searchbar-ios {
    padding: 0;
    min-height: 40px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background: rgba(0, 0, 0, 0);
    display: inline-block;
    width: calc(100% - 120px);
    float: left;

    .searchbar-input {
      padding: 0 28px;
      @include radius-manual (10px, 10px, 0 , 0);
      height: 40px;
      border-top: 1px solid #dadada;
      border-left: 1px solid #dadada;
      border-bottom: 1px solid #dadada;
      font-size: 1.4rem;
      font-weight: 400;
      color: #000;
      background-color: #f5f5f5;
    }
    .searchbar-search-icon {
      left: 9px;
      top: 14px;
    }
  }

  .btn-adv-search {
    display: inline-block;
    height: 40px;
    @include radius(0);
    width: 120px;
    font-size: 12px;
    float: left;
    color: #464646;
    margin: 0;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background-color: #f5f5f5;
    margin-top: 1px;
    @include radius-manual (0px, 0px, 10px , 10px);

    &.activated {
      background-color: #f5f5f5;
    }
  }

  .login-box{ 
    .list-ios[inset] { 
      margin: 10px 0px; 
      border-radius: 4px; 
      border: solid 1px #c8c7cd; 
    } 
  }
}