$range-ios-bar-height: 5px;
$range-ios-bar-background-color: map-get($colors, gray);
$range-ios-bar-active-background-color: color($colors, gray);
$range-ios-knob-background-color: map-get($colors, primary); 
$range-ios-knob-width: 13px;

.range .range-bar{
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}