$tabs-ios-tab-max-width: 120px;
$tabs-background: #ebebeb;
$tabs-ios-border-color: none;

.tabs-ios {
  .tabbar {
    justify-content: left !important;
  }

  .tab-button.has-title-only {
    .tab-button-text{
      font-size: 1.2rem !important;
    }
  }
}

// .has-right-menu.tabs-ios{
//   .tab-button:nth-last-child(2){
//     margin-left: auto;
//       text-align: left; 
//       margin-right: 10px;
//     .tab-button-text{
//       font-size: 1.2rem !important;
//       font-weight: bold;
//       align-self: left; 
//     }

//     ion-icon{
//       position: absolute;
//       right: 0;
//       top: 5px;
//     }
//   }
// }

[tabs]{
  [tabs-header]{
    background-color: #555555;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    &.tabs-outline {
      background-color: transparent;
      border: 1px solid map-get($colors, primary);
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      overflow: hidden;

      a {
        color: map-get($colors, gray);
        text-align: center;
        border-left: 1px solid map-get($colors, primary);
        padding: 0 10px;

        &:first-child{
          border-left: none;
        }

        &.active {
          background-color: map-get($colors, primary);
          color: #fff;
        }
      }
    }

    &.no-outline{
      background-color: transparent;
      color: map-get($colors, gray);
      border-bottom: 2px solid map-get($colors, light-gray);
      height: auto;

      a{
        color: map-get($colors, gray);
        margin: 5px 10px;
        padding: 5px;
        height: auto;
        -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
        align-self: baseline;

        &.active{
          border: none;
        }
      }
    }

    a{
      color: #ffffff;
      margin: 0;
      height: 50px;
      text-align: center;
      border-radius: 0;
      position: relative;
      z-index: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border: 0;
      text-decoration: none;
      background: none;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      span{
        display: block;
      }
    }

    a.active{
      background-color: #ebebeb;
      color: map-get($colors, primary);
      border-bottom: 3px solid map-get($colors, primary);
    }
  }
}
  
.tabs-child-list {
  margin-top: 15px;
  border-bottom: 1px solid #bcbcbc;

  ul{
    position: relative;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 8px 0;

      a {
        color: #555555;
        text-align: center;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
        cursor: pointer;

        &.active {
          background-color: #ebebeb;
          color: #ee1b2c;
        }
      }
    }
  }

  &.advanced{
    height: 51px; 
    overflow: hidden; 
    width: 100%;

    ul{
      overflow-x: auto; 
      overflow-y: hidden;
      height: 60px; 
      white-space: nowrap; 
    } 
  }
}

.tabs-child-content {
  padding: 0 15px;
  border-bottom: 1px solid #bcbcbc;

  &.no-border {
    border-bottom: none;
  }
}