.pru-logo-text strong{
  text-transform: uppercase;
  color: map-get($colors, primary);
}

[color-red], .color-red{color: map-get($colors, primary) !important;}
[color-gray]{color: map-get($colors, gray);}
[color-gray-light] {color: #959595!important;}
[color-dark-gray]{color: map-get($colors, dark-gray);}
[color-white]{color: #ffffff !important;}
[font-bold]{font-weight: bold;}
[font-size-15]{font-size: 15px;}
[font-size-12]{font-size: 12px;}
[font-size-14]{font-size: 14px!important;}
[font-size-16]{font-size: 16px;}
[small]{font-size: 10px !important;}
.color-inherit{color: inherit !important}
.font-size-inherit{font-size: inherit !important}
.font-size-11 { font-size: 11px !important}
[color-default]{color: #404040!important;}
