@import "mixin";

[cursor-pointer]{
  cursor: pointer;
}
[margin-top-10]{margin-top: 10px;}
[margin-top-25]{margin-top: 25px;}
[margin-auto]{margin: auto;}
[margin-bottom-10]{margin-bottom: 10px;}

[padding-top-10]{padding-top: 10px !important;}
[padding-top-15]{padding-top: 15px !important;}
[padding-left-25]{padding-left: 25px !important;}
[padding-left-40]{padding-left: 40px !important;}
[no-padding-left]{padding-left: 0 !important;}
[bg-light-gray]{background-color: map-get($colors, light-gray);}
[bg-dark-gray]{background-color: map-get($colors, dark-gray);}
[bg-white]{background-color: #ffffff;}
[bg-none]{background: none !important; .toolbar-background{background-color: transparent !important;}}
[border-bottom-white]{border-bottom:1px solid #ffffff!important;}
[border-bottom-gray]{border-bottom:1px solid #dadada;}
[no-border]{border:none !important;}
[display-inline-block]{display: inline-block !important;}
[display-block]{display: block !important;}
[position-absolute]{position: absolute !important;}
[position-relative]{position: relative !important;}

[left-0]{left: 0!important;}
.right-0{right: 0 !important;}
.top-0{top: 0 !important;}
.left-initial{left: initial !important;}
[text-left] {text-align: left;}
[text-right] {text-align: right;}

@for $i from 0 through 50 {
  .padding-top-#{$i} { padding-top: 1px * $i !important; }
}

@for $i from 0 through 50 {
  .padding-bottom-#{$i} { padding-bottom: 1px * $i !important; }
}

@for $i from 0 through 50 {
  .padding-left-#{$i} { padding-left: 1px * $i !important; }
}

@for $i from 0 through 50 {
  .padding-right-#{$i} { padding-right: 1px * $i !important; }
}

@for $i from 0 through 50 {
  .margin-top-#{$i} { margin-top: 1px * $i !important; }
}

@for $i from 0 through 50 {
  .margin-right-#{$i} { margin-right: 1px * $i !important; }
}

@for $i from 0 through 50 {
  .margin-left-#{$i} { margin-left: 1px * $i !important; }
}

@for $i from 0 through 50 {
  .margin-bottom-#{$i} { margin-bottom: 1px * $i !important; }
}

@for $i from 0 through 50 {
  .border-#{$i} {@include radius (1px*$i!important);}
}

.no-padding{
  padding: 0 !important;
}
.border-color-gray {
  border: 1px solid #555;
}
.bg-transparent {
  background: transparent!important;
}

.bg-white {
  background: #fff!important;
}

.bg-gray {
  background: map-get($colors, gray) !important;
}

.border-top-gray{
  border-top: 1px solid map-get($colors, light-gray);
}
.font-white {
  color: #fff!important;
}

.width-20 {
  width: 20%;
}
.max-width-100 {max-width: 100% !important;}
.max-width-55 {max-width: 55% !important;}
.max-width-100px {max-width: 100px !important;}
.max-width-120 {max-width: 120px !important;}
.max-width-230 {max-width: 230px !important}
.max-width-200 {max-width: 200px !important}
.max-width-60 {max-width: 60px !important}
.width-100{width: 100% !important;}
.min-height-initial{min-height: initial !important;}
ion-item.no-border-item-inner .item-inner{border: none !important;}
.border-white textarea{border: 1px solid #fff !important;}
.vertical-align-sub{vertical-align: sub;}
.no-lines {
  border: 1px solid transparent!important;
}

.min-height-300 {
  min-height: 300px;
}

.min-height-20 {
  min-height: 20px;
}


.img-icon {
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  position: absolute;

  &.adv-search {
    background-image: url(../assets/imgs/search-adv.png);
  }
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

// Claim SCSS

[label-gray-bold] {
  color: map-get($colors, label );
  font-size: 1.4rem;
  font-weight: 600;
}
[label-gray] {
  color: map-get($colors, label );
  font-size: 1.4rem;
  font-weight: 400;
}
[label-white] {
  color: map-get($colors, white );
}
[label-black] {
    color: map-get($colors, dark ) !important;
}
[color-secondary] {
  color: map-get($colors, secondary);
}

[box-gray] {
  background-color: map-get($colors, light );
  display: block;
  padding:10px 20px 35px;
  .item-input ion-input {
    padding: 8px 15px;
  }
}
[list-margin-top] {
  margin-top: 20px;
}
// Backgrounds
[bg-secondary] {
  background-color: map-get($colors, secondary );
  padding: 10px;
}
[bg-light-gray], .bg-light-gray {
  background-color: map-get($colors, light-gray) !important;
  .item-md {
    background-color: map-get($colors, light-gray) !important;
  }
}
.bg-lightest-gray{
  background-color: map-get($colors, light-gray02) !important;
}
[bg-light] {
  background-color: map-get($colors,  light);
}
[bg-transparent] {
  &.item-md, &.item-ios {
      background-color: transparent !important;
  }
}

[border-gray] {
  border: 1px solid map-get($colors, light-gray );

}
[border-bottom-gray] {
  border-bottom: 1px solid map-get($colors, light-gray01 );
}
[border-bottom-light-gray] {
    border-bottom: 1px solid map-get($colors, light-gray ) !important;
}
[btn-cta] {
  width: 35% !important;
  border-radius: 8px !important;
  font-size: 1.6rem !important;
  font-weight: 600 !important;
}
[table] {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid map-get($colors, light-gray );
  padding: 0;
  margin-top: 10px;

  [th], [td] {
      padding:5px 10px;

  }
  [bottom-line] {
      border-bottom: 1px solid map-get($colors, light-gray01);
  }
  &.dark {
      border-color: map-get($colors, gray );
  }
  &.primary {
      border-color: map-get($colors, primary );
  }
  [breakdown] .row {
      padding:5px 0;
  }
}
[table-gray] {
  border-collapse: collapse;
  padding: 10px !important;
  .col {
      padding: 10px 15px;
      border-bottom: 1px solid map-get($colors, light-gray );
  }
}
[table-white] {
  background-color: map-get($colors, white );
  .row {
      border-bottom: 1px solid map-get($colors, light-gray );
      padding: 5px 0;
  }
}
[cell-padding] {
  padding: 10px 15px !important;
}
[padding-side] {
  padding: 0 15px !important;
}
[table-header] {
  font-weight: 600;
  background-color: map-get($colors, light-gray) !important;

}
[accordion] {
  width: 100%;
  padding: 0 15px !important;
  border-radius: 5px !important;

  h3 {
      font-size: 1.5rem !important;
      font-weight: 600 !important;
  }

  &.accordion-1 {
    border-width: 2px !important;
    .icon, .label h3 {
        color: map-get($colors, primary );
  }
  &.active {
    background-color: map-get($colors, primary );
    .icon, .label h3 {
      color: map-get($colors, white );
    }
  }
}

}
[accordion]:hover {
  opacity: 1 !important;
}
[outline] {
  border: 1px solid map-get($colors, primary ) !important;
  .label {
      color: map-get($colors, dark) !important;
  }
}

[header] {
  padding:15px 20px;
  h3 {
      margin: 0;
      padding: 0;
  }
}
[primary] {
  color: map-get($colors, primary );
}

.no-border {
  border: none!important;
  border-width: 0!important;
}

.font-s-normal {
  font-style: normal;
}

[top-16] {
  top: 16px!important;
}

[top-5] {
  top: 5px!important;
}
