@import "./theme/mixin";

page-claim-review {
    .font-15 {
        .item-ios {
            font-size: 15px;
        }
    }
    h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .item-ios.h1 {
        font-size: 2.5rem;
        font-weight: 600; 
        color: map-get($colors, secondary);        
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    h3 {
        font-size: 1.6rem !important;
        font-weight: 600 !important;
    }
    h4 {
        font-weight: 600 !important;
    }

    .item.item-md .checkbox-md {
        margin: 9px 20px 9px 4px;
    }
    
    .select-md, .select-ios {
        border: 1px solid map-get($colors, label );
        border-radius: 5px;
        padding: 8px 13px;
    }
    
    ion-select {
        width: 100%;
        max-width: 100%;
    }

    .item-md.item-block .item-inner {
        padding-right: 0;
    }

    .list-md .item-input:last-child {
        border-color: transparent;
    }

    .odd {
        background-color: map-get($colors, light-gray02 );
    }

    .inforced {
        overflow: visible;
        color: map-get($colors, white);
        font-size: 1.4rem;
        font-weight: 600;

        @include phones {
            font-size: 1rem;
        }
    }

    .btn-list {
        background-color: map-get($colors, light-gray);
        padding: 0 15px !important;
    }

    .item-ios, .item-md {
        padding-left: 0;
    }
    .item-md [item-right],
    .item-md [item-end],
    .item-ios [item-right],
    .item-ios [item-end]   {
        margin: 5px 0;
    }

    .list-ios, .list-md {
        margin:0;
        padding: 10px 0 25px;
    }
    .label-ios, 
    .label-md,
    .text-input-ios {
        margin: 5px 0;
    }
    .item-block {
        min-height: 1rem;
    }

    .item-ios.item-block .item-inner {
        padding-right:0;
    }    


}
