@font-face {
  font-family: 'Pru Sans';
  src: url('../assets/fonts/Prusm___.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pru Sans';
  src: url('../assets/fonts/Prusmi__.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Pru Sans';
  src: url('../assets/fonts/Prusd___.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pru Sans';
  src: url('../assets/fonts/Prusdi__.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Pru Sans';
  src: url('../assets/fonts/Prusb___.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pru Sans';
  src: url('../assets/fonts/Prusbi__.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Pru Sans';
  src: url('../assets/fonts/Prusw___.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pru Sans';
  src: url('../assets/fonts/Pruswi__.ttf');
  font-weight: 200;
  font-style: italic;
}

* {
  font-family: 'Pru Sans';
}

ion-menu.main-menu{
  display: block;
  width: 55px;
  contain: initial;
  left: -55px;

  .menu-inner {
    webkit-transform: none;
    transform: none;
    contain: initial;
    width: 100%;

    .main-logo-text{
      font-size: 22px;
      z-index: 2;
      left: 75px;
      position: absolute;
      margin-top: 10px;
    }

    .scroll-content{
      overflow-y: hidden;
      background-color: map-get($colors, primary);
      z-index: initial;

      .button-default.button-menu{
        height: 20px;
        min-height: 20px;
      }

      ion-list{
        margin-top: 34px;
      }
    }

    .toolbar-background{
      background-color: map-get($colors, primary);
      background-image: url('../assets/imgs/PRUforce-logo.png');
      background-position: center center;
      background-size: 39px;
      background-repeat: no-repeat;
      height:45px;
    } 

    button.item {
      background-color: map-get($colors, primary);  
      height: 55px;
      color: #ffffff;
      padding: 0;
      text-align: center;
      border: none;

      .item-inner{
        padding: 0;
        background: none;
        border: none;
      }

      span{
        display:block;  
        font-size: 8px;
        text-transform: uppercase;
        margin-top: 3px;
        white-space: normal;
      }

      .label{
        margin: 0;  
      }
    }

    button.item.active{
      background-color: #ffffff;
      color: map-get($colors, primary); 
    }

    .list-md .item-block .item-inner{
      border-bottom:none;
    }
  }

}

ion-menu#subMenu {
  width: 200px;

  .menu-inner {
    width: 200px;
    
    .content{
      background-color: map-get($colors, light-gray);
    }

    ion-list{
      margin-top: 5px;
    }

    .toolbar{
      padding-left: 20px; 
      height: 40px;
      min-height: 40px;

      .toolbar-background{
        background-color: map-get($colors, light-gray);
        height:40px;
        border:none;
      }

      .toolbar-title{
        text-align: left;
        padding: 0; 
        color: map-get($colors, primary);
        text-transform: uppercase;
        font-size: 15px;
        font-weight: normal;
      }

      .title{
        text-align: left;
        padding-right: 10px;
        padding-left: 20px;
      }
    } 

    .main-menu-child{
      background-color: #fff;
      padding: 0 10px 10px;

      button.item{
        text-transform: capitalize;
        background-color: #ffffff;
        border-bottom: 1px solid map-get($colors, light-gray); 
        padding: 0 5px;
      }

      button.item.active{
        background-color: #ffffff;
        color: map-get($colors, primary);
      }

      .main-menu-child{
        padding: 0;

        div{
          button.item{
            padding: 0 10px;
            padding-left: 15px;
            background-color: map-get($colors, light-gray);
            height: 30px;
            min-height: 30px;
            font-weight: normal;

            ion-label{
              margin:0;
            }

            &:not(.no-border){
              .item-inner, .input-wrapper{
                border-bottom: 1px solid #fff;
              }
            }            
          }

          &:last-child{
            button.item{
              .item-inner, .input-wrapper{
                border: none;
              }              
            }
          }
        }
          

        ion-icon{
          top: 8px;
        }

        .main-menu-child{
          padding: 0 10px 5px 25px;
          border: 1px solid #ebebeb;
          margin-bottom: 5px;
          
          div{
            button.item{
              background-color: #ffffff;
              border-left: none;
              border-right: none;
              padding: 0; 
            }

            &:last-child{
              button.item{
                border: none;
              }
            }
          }
          
          .main-menu-child{
            padding: 0;
            padding-left: 20px;
            padding-right: 10px;
            border: none;

            div{
              button.item{
                padding: 0;
                border-bottom: 1px solid map-get($colors, light-gray); 
              }
            }
          }
        }
      }
    }

    button.item{
      background-color: map-get($colors, light-gray);  
      height: 55px;
      color: map-get($colors, gray);
      padding-left: 15px;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      text-align: left;

      .item-inner{
        padding: 0;
        background: none;
        border: none;
      }
    } 

    ion-icon{
      color: map-get($colors, gray);
      position: absolute;
      right: 10px;
      top: 20px;
    }

    ion-icon.active{
      color: #ffffff;
    }
  }
}

ng-component.app-root{
  left: 55px;
  width: calc(100% - 55px);
  contain: unset;
}

ion-menu#subMenu .menu-inner button.item.active{
  background-color: map-get($colors, primary);
  color: #ffffff; 
}

ion-menu#subMenu .menu-inner ion-header{
  height: 97px;
}

ion-header.header-top{
  z-index: -1;
  text-align: right;

  .toolbar{
    height: 40px;
    min-height: 40px;
    color: map-get($colors, primary);
    padding-right: 30px;

    .toolbar-background{
      background: #ffffff;
    }
  }
}


ion-header.header-second{
  z-index: -1;
  top: 40px;

  .toolbar{
    height: 40px;
    min-height: 40px;
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;

    .toolbar-background{
      background: map-get($colors, primary);
    }
  }
}

ion-nav.main-content{
  top: 80px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0) !important;
    z-index: 0;
}

.web-content {
  display: none;
}

.mobile-content{
  display: block;
}

@media (min-width: 768px) {
  .web-content {
    display: block;
  }

  ion-nav.main-content{
    transform: translateX(0) !important;
    width: 100%;
  }

  .mobile-content{
    display: none;
  }

  ion-menu#subMenu{
    display: block;
    webkit-transform: translate3d(-255px, 0, 0);
    transform: translate3d(-255px, 0, 0);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    .menu-inner{
      webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
      contain: initial;
      width: 100%;

      .scroll-content{
        overflow: auto;
      }
    }
  }

  ion-header.header-second, ion-nav.main-content{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .open-sub-menu {
    ion-menu#subMenu{
      display: block;
      contain: initial;
      webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-box-shadow: 1px 0 2px 0 #999999;
      box-shadow: 1px 0 2px 0 #999999;
    }

    ion-header.header-second{
      transform: translateX(200px) !important;
      width: calc(100% - 200px);

    }
    
    ion-nav.main-content{
      transform: translateX(200px) !important;
      width: calc(100% - 202px);
      margin-left: 2px;
    }

    ion-header.header-second{
      .toolbar{
        padding-right: 40px;
        padding-left: 40px;
      }
    }
  }
    
}