<ion-menu [content]="content" id="subMenu"  type="push">
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title *ngIf="isAuthenticated()">{{mainMenu.activePage}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="isAuthenticated()">
      <div *ngFor="let p of mainMenu.mainNav; let index_p = index; ">
        <div *ngIf="p.name == mainMenu.activePage">
          <div *ngFor="let o of p.children; let index_o = index " position-relative>
            <button ion-item (click)="openChildPage(o)" [ngClass]="{'active': o.name == mainMenu.activeChildPage}">
              <span>{{o.name}}</span>
            </button>
            <ion-icon cursor-pointer *ngIf="!o.checked && o.children.length >= 1" (click)="expandMenu($event, o)" float-right name="md-add-circle" [ngClass]="{'active': o.name == mainMenu.activeChildPage}"></ion-icon>
            <ion-icon cursor-pointer *ngIf="o.checked && o.children.length >= 1" (click)="expandMenu($event, o)" float-right name="md-remove-circle" [ngClass]="{'active': o.name == mainMenu.activeChildPage}"></ion-icon>
            <div *ngIf="o.children.length >= 1" class="main-menu-child" [hidden]="!o.checked">
              <div *ngFor="let n of o.children; let index_n = index " position-relative>
                <button ion-item *ngIf="n.role && checkAvailablilityRoleDistributionList(n.role, n)" (click)="openChildPage(n)" [ngClass]="{'active': n.name == mainMenu.activeChildPage}"> 
                  <span>{{n.name}}</span> 
                </button> 
                <button ion-item *ngIf="!n.role" (click)="openChildPage(n)" [ngClass]="{'active': n.name == mainMenu.activeChildPage}"> 
                  <span>{{n.name}}</span>
                </button>
                <ion-icon cursor-pointer *ngIf="!n.checked && n.children.length >= 1" (click)="expandMenu($event, n)" float-right name="ios-arrow-down"></ion-icon>
                <ion-icon cursor-pointer *ngIf="n.checked && n.children.length >= 1" (click)="expandMenu($event, n)" float-right name="ios-arrow-up"></ion-icon>
                <div *ngIf="n.children.length >= 1" class="main-menu-child" [hidden]="!n.checked">
                  <div *ngFor="let m of n.children" position-relative>
                    <button ion-item (click)="openChildPage(m)" [ngClass]="{'active': m.name == mainMenu.activeChildPage, 'no-border': m.checked}">
                      <span>
                        {{m.name}} 
                      </span>
                    </button>
                    <ion-icon cursor-pointer *ngIf="!m.checked && m.children.length >= 1" (click)="expandMenu($event, m)" float-right name="ios-arrow-down"></ion-icon>
                    <ion-icon cursor-pointer *ngIf="m.checked && m.children.length >= 1" (click)="expandMenu($event, m)" float-right name="ios-arrow-up"></ion-icon>
                    <div *ngIf="m.children.length >= 1" class="main-menu-child" [hidden]="!m.checked">
                      <div *ngFor="let l of m.children; let index_l = index; " position-relative>
                        <button ion-item (click)="openChildPage(l)" [ngClass]="{'active': l.name == mainMenu.activeChildPage, 'no-border': l.checked}">
                          <span>{{l.name}}</span>
                        </button>
                        <ion-icon cursor-pointer *ngIf="!l.checked && l.children.length >= 1" (click)="expandMenu($event, l)" float-right name="ios-arrow-down"></ion-icon>
                        <ion-icon cursor-pointer *ngIf="l.checked && l.children.length >= 1" (click)="expandMenu($event, l)" float-right name="ios-arrow-up"></ion-icon>
                        <div *ngIf="l.children.length >= 1" class="main-menu-child" [hidden]="!l.checked">
                          <div *ngFor="let k of l.children; let index_k = index; ">
                            <button ion-item (click)="openChildPage(k)" [ngClass]="{'active': k.name == mainMenu.activeChildPage}" class="font-size-11">
                              <span>{{k.name}}</span>
                            </button>
                          </div>                        
                        </div>
                      </div>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-menu [content]="content" class="main-menu" id="mainMenu">
  <span class="main-logo-text">
    <span class="pru-logo-text "><strong>PRU</strong>hub</span>
  </span>
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <button ion-button (click)="openSubMenu(e)" class="web-content button-menu" *ngIf="isAuthenticated()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button menuToggle="subMenu" class="mobile-content button-menu" *ngIf="isAuthenticated()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-list *ngIf="isAuthenticated()">
      <button ion-item *ngFor="let p of mainMenu.mainNav" (click)="openPage(p)" [ngClass]="{'active': p.name == mainMenu.activePage}">
        <ion-icon name="{{p.icon}}"></ion-icon> <span>{{p.name}}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header class="header-second" *ngIf="isAuthenticated()">
  <ion-toolbar>
    <div>Hello, {{mainMenu.username}}</div>
  </ion-toolbar>
</ion-header>
<ion-header class="header-top">
  <ion-toolbar>
    <span (click)="logout($event)" cursor-pointer *ngIf="isAuthenticated()">Logout</span>
  </ion-toolbar>
</ion-header>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" class="main-content"></ion-nav>