<ion-content padding>
  <div small color-red padding-left padding-bottom>
    <h5 text-center>Claim</h5>
    Claim Task ({{mainMenu.generalCaseCount}})
  </div>
  <ion-grid margin-bottom>
    <ion-row head-dropdown>
      <ion-col col-6>
        <ion-item>
          <ion-select interface="popover" [(ngModel)]="sorting" (ionChange)="sortBy(sorting)">
            <ion-option value="{{item.value+'-'+item.sort}}" *ngFor="let item of sortByItem" >{{item.text}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-select interface="popover" [(ngModel)]="filter" (ionChange)="filterBy(filter)">
            <ion-option value="{{item.value}}" *ngFor="let item of filterByItem" >{{item.text}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div margin-top class="task-lists" margin-bottom padding-bottom>
    <div task-list *ngFor="let item of items" margin-vertical padding-vertical>
      <h6 cursor-pointer (click)="openClaimReview(item)"><span tor class="{{item.tor}}" text-uppercase>{{item.tor}}</span>{{item.roleDistribution}}<span *ngIf="item.activityName">::</span>{{item.activityName}}<span *ngIf="item.claimUnique">::</span>{{item.claimUnique}}<ion-icon float-right name="ios-arrow-forward" color-red></ion-icon></h6>
      <ion-grid>
        <ion-row>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Policy Number</div>
            {{item.policyNumber}} - {{item.claimSeq}}
          </ion-col>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Unique Claim</div>
            {{item.claimUnique}}
          </ion-col>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Life Assured Number</div>
            {{item.lifeAssNo}}
          </ion-col>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Rider</div>
            {{item.rider}}
          </ion-col>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Product</div>
            {{item.product}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
