<ion-content padding>
	<ion-grid no-border no-padding-left>  
			<div style="margin-left:15px">
					<ion-row>
						<ion-col col-12 col-md-12>
							<input type="checkbox" id="sendTime" [(ngModel)]="searchOption.sendTime" name="sendTime"><label cursor-pointer for="sendTime">  Send Date Period</label>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col *ngIf="searchOption.sendTime" style="margin-left:15px;" col-5 col-md-5>
								<ion-label style="font-size:1.2rem;">From</ion-label>
								<ion-datetime 
									pickerFormat="YYYY-MM-DD" 
									displayFormat="DD-MM-YYYY" 
									name="sendTime" 
									placeholder="Select date" 
									[(ngModel)]="startDate" 
									[ngModelOptions]="{standalone: true}"
									style="padding-left:0;"
									></ion-datetime>
						</ion-col>
						<ion-col *ngIf="searchOption.sendTime" style="margin-left:15px;" col-5 col-md-5>
								<ion-label style="font-size:1.2rem;">To</ion-label>
								<ion-datetime 
									pickerFormat="YYYY-MM-DD" 
									displayFormat="DD-MM-YYYY" 
									name="sendTime" 
									placeholder="Select date" 
									[(ngModel)]="endDate" 
									[ngModelOptions]="{standalone: true}"
									style="padding-left:0;"
									></ion-datetime>
						</ion-col>
					</ion-row>
					</div>
		<!-- ./ion-row -->
		<ion-row>
				<ion-col col-12 col-md-12 style="margin-left:15px;">
					<input type="checkbox" id="channel" [(ngModel)]="searchOption.channel" name="channel" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="channel">Channel</label>
					<ion-item *ngIf="searchOption.channel">
						<ion-label class="mn" style="font-size:0.8em; color:grey">Channels</ion-label>
							<ion-select [(ngModel)]="typeOfChannel" [ngModelOptions]="{standalone: true}">
								<ion-option value="">All</ion-option>
								<ion-option value="Email">Email</ion-option>
								<ion-option value="Sms">SMS</ion-option>
								<ion-option value="Pruforce">Pruforce</ion-option>
							</ion-select>
						<!-- <ion-input class="menu" type="text"></ion-input> -->
					  </ion-item> 
				</ion-col>
			</ion-row>
		
		<ion-row>    
			<ion-col col-12 col-md-6>
				<button (click)="getReportsDetailAndSummary(startDate,endDate,typeOfChannel)" small ion-button full outline>SEARCH</button>
			</ion-col>
			<ion-col col-12 col-md-6>
				<button (click)="export(startDate,endDate,typeOfChannel)" small ion-button full outline>EXPORT</button>
			</ion-col>
		</ion-row>  
		<!-- ./ion-row -->
	</ion-grid>
	<!-- ./ion-grid -->
	
	<div small color-red padding-left padding-bottom *ngIf="reports">
		*Summary
	</div>
	<div margin-top class="task-lists" margin-bottom padding-bottom>
		<div task-list *ngFor="let data of reports?.summary" margin-vertical padding-vertical>
			<ion-grid>
                <ion-row>
                    <ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>ID</div>
						<span>{{data.messageId}}</span>
					</ion-col>
					<ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>Channel Type</div>
						<span>{{data.channelType}}</span>
					</ion-col>
                </ion-row>
				<ion-row>
                    <ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>Numbers of Agents Involved</div>
						<span>{{data.agentNumberInvolve}}</span>
					</ion-col>
					<ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>Number of Agents Delivered</div>
						<span>{{data.delivered}}</span>
					</ion-col>
					<ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>Number of Agents Not Delivered</div>
						<span>{{data.notDelivered}}</span>
					</ion-col>
                </ion-row>
			</ion-grid>
		</div>
		<!-- ./task-list -->
	</div>
	<!-- ./task-lists -->
	
	<div small color-red padding-left padding-bottom *ngIf="reports">
		*Detail
	</div>
	<div margin-top class="task-lists" margin-bottom padding-bottom>
		<div task-list *ngFor="let data of reports?.details" margin-vertical padding-vertical>
			<ion-grid>
                <ion-row>
                    <ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>ID</div>
						<span>{{data.messageId}}</span>
					</ion-col>
					<ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>Channel Type</div>
						<span>{{data.typeOfChannel}}</span>
					</ion-col>
					<ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>To</div>
						<span>{{data.to}}</span>
					</ion-col>
                </ion-row>
				<ion-row>
                    <ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Send Date</div>
						<span>{{data.sendTime | date: 'EEEE, dd MMMM yyyy H:mm'}}</span>
					</ion-col>
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Agent Code</div>
						<span>{{data.agentCode}}</span>
					</ion-col>
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Name</div>
						<span>{{data.name}}</span>
					</ion-col>
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Agent Type</div>
						<span>{{data.agentType}}</span>
					</ion-col>
					
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Office Code</div>
						<span>{{data.officeCode}}</span>
					</ion-col>
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Subject</div>
						<span>{{data.subject}}</span>
					</ion-col>
					<ion-col col-md-3 col-6 class="item">
						<div text-uppercase field-name>Status</div>
						<span>{{data.status}}</span>
					</ion-col>
					<ion-col col-md-12 class="item">
						<div text-uppercase field-name>Message</div>
						<span>{{data.message}}</span>
					</ion-col>
				</ion-row>
			</ion-grid>
			<!-- ion-grid -->
		</div>
		<!-- ./task-list -->
	</div> 
	<!-- ./task-lists -->
	<!--
	-->
    <!-- <button ion-button block menuToggle>Toggle Menu</button> -->
</ion-content>