
<ion-content>
    <ion-grid no-border no-padding-left>  
        <ion-row>
            <ion-col col-12 col-md-6 style="margin-left:15px;">
                <input type="checkbox" id="body" [(ngModel)]="searchOption.body" name="body" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="body">Body</label>
                <ion-input *ngIf="searchOption.body" [disabled]="!searchOption.body" class="padding-left-20" border-bottom-gray bg-none [(ngModel)]="body" placeholder="Type Body Here"></ion-input>
            </ion-col>
        </ion-row>
        <div style="margin-left:15px">
                <ion-row>
                    <ion-col col-12 col-md-12>
                        <input type="checkbox" id="sendTime" [(ngModel)]="searchOption.sendTime" name="sendTime"><label cursor-pointer for="sendTime">  Send Date Period</label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngIf="searchOption.sendTime" style="margin-left:15px;" col-4 col-md-4>
                            <ion-label style="font-size:1.2rem;">From</ion-label>
                            <ion-datetime 
                                pickerFormat="YYYY-MM-DD" 
                                displayFormat="DD-MM-YYYY" 
                                name="sendTime" 
                                placeholder="Select date" 
                                [(ngModel)]="startDate" 
                                [ngModelOptions]="{standalone: true}"
                                style="padding-left:0;"
                                ></ion-datetime>
                    </ion-col>
                    <ion-col *ngIf="searchOption.sendTime" style="margin-left:15px;" col-4 col-md-4>
                            <ion-label style="font-size:1.2rem;">To</ion-label>
                            <ion-datetime 
                                pickerFormat="YYYY-MM-DD" 
                                displayFormat="DD-MM-YYYY" 
                                name="sendTime" 
                                placeholder="Select date" 
                                [(ngModel)]="endDate" 
                                [ngModelOptions]="{standalone: true}"
                                style="padding-left:0;"
                                ></ion-datetime>
                    </ion-col>
                </ion-row>
                </div>
        <!-- ./ion-row -->
        <ion-row>    
            <ion-col col-12>
                <button (click)="search()" small ion-button full outline>SEARCH</button>
            </ion-col>
        </ion-row> 
        <ion-row>    
            <ion-col col-12>
                <button (click)="openCompose()" small ion-button full outline>COMPOSE</button>
            </ion-col>
        </ion-row> 
    </ion-grid>
    <div margin-top class="task-lists" margin-bottom padding-bottom>
        <div task-list *ngFor="let message of messages; let i = index;" margin-vertical padding-vertical>
            <!-- <ion-checkbox [(ngModel)]="message.checked" [ngModelOptions]="{standalone: true}">
            </ion-checkbox> -->
            <!-- <h6 cursor-pointer (click)="openEdit(i)"> -->
            <ion-grid>
                <ion-row>
                    <ion-col col-12 class="item">
                        <h6 cursor-pointer (click)="openEdit(i, message.id)">
                            
                            <ion-icon float-right name="ios-arrow-forward" color-red></ion-icon>
                        </h6>
                    </ion-col>
                </ion-row>
                
                <ion-row>
					<ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>Send Time</div>
						<span>{{message.sendTime | date:'medium':'+0700'}}</span>
					</ion-col>
					<ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>Status</div>
						<span>{{message.status}}</span>
					</ion-col>
					<ion-col col-md-4 col-6 class="item">
						<div text-uppercase field-name>Agent Involved</div>
						<span>{{message.agentInvolved}}</span>
					</ion-col>
                </ion-row>
				<ion-row>
                <ion-col col-12 class="item">
                    <div text-uppercase field-name>Body</div>
                    <span>{{message.body}}</span>
                </ion-col>
                </ion-row>
            </ion-grid>
            
        </div>
        <!-- ./task-list -->
    </div>
    <!-- ./task-lists -->
    
    <ion-row *ngIf="messages?.length > 0 && lengthData == size">
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-row>
</ion-content>
