<ion-header>

    <ion-navbar>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
              <ion-row>
                  <ion-col col-12 class="item">
                      
                        <div text-uppercase field-name>Message</div>
                          {{pruforce?.body}}
                      
                  </ion-col>
              </ion-row>
              
              <ion-row>
              <ion-col col-md-4 col-6 class="item">
                  <div text-uppercase field-name>Send Time</div>
                  <span>{{pruforce?.sendTime | date:'medium':'+0700' }}</span>
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
                  <div text-uppercase field-name>Status</div>
                  <span>{{pruforce?.status}}</span>
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
                  <div text-uppercase field-name>Agent Involved</div>
                  <span>{{agentInvolved}}</span>
              </ion-col>
              </ion-row>
          </ion-grid>
  
          
  
  
      <div margin-top class="task-lists" margin-bottom padding-bottom>
          <ion-row>
              <ion-col col-12>
                  <h6
                      style="color:red; font-size:1.3rem;"   
                  >
                      *Details
                  </h6>
              </ion-col>
          </ion-row>
          <div 
              task-list 
              *ngFor="let receivers of pruforceReceivers; let i = index;" 
              padding-vertical>
              <!-- <ion-checkbox [(ngModel)]="email.checked" [ngModelOptions]="{standalone: true}">
              </ion-checkbox> -->
              <!-- <h6 cursor-pointer (click)="openEdit(i)"> -->
              
              <ion-grid>
                  <ion-row>
                      <ion-col col-12 class="item">
                          <h6>
                              {{receivers.agentCode}} - {{receivers.name}}
                          </h6>
                          <!-- ./h6 -->
                      </ion-col>
                  </ion-row>
                  
                  <ion-row>
                  <ion-col col-md-4 col-6 class="item">
                      <div text-uppercase field-name>Agent Type </div>
                      <span>{{receivers.agentType}}</span>
                  </ion-col>
                  <ion-col col-md-4 col-6 class="item">
                    <div text-uppercase field-name>Office Code </div>
                    <span>{{receivers.officeCode}}</span>
                </ion-col>
                  <ion-col col-md-4 col-6 class="item">
                      <div text-uppercase field-name>Status</div>
                      <span>{{receivers.status}}</span>
                  </ion-col>
                  <ion-col col-12 class="item">
                      <div text-uppercase field-name>Log</div>
                      <span>{{receivers.log}}</span>
                  </ion-col>
                  <!-- <ion-col col-md-3 col-6 class="item">
                      <span style="float:right;">
                          <button
                              *ngIf="email.status==='Error'" 
                              ion-button block outline color="danger"
                              style="font-size:1.2rem;"
                              (click)="changeStatus()"
                              >Resend</button>
                      </span>
                  </ion-col> -->
                  </ion-row>
              </ion-grid>
              <!-- <ion-grid>
                  <ion-row>
                  <ion-col col-md-4 col-6 class="item">
                      <div text-uppercase field-name>Body</div>
                      <span>{{email.body}}</span>
                  </ion-col>
                  </ion-row>
              </ion-grid> -->
  
          </div>
          <!-- ./task-list -->
      </div>
      <!-- ./task-lists -->
      
      <ion-row *ngIf="pruforceReceivers?.length > 0 && lengthData == size">
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </ion-row>
  </ion-content>
  