<!--
  Generated template for the SearchModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Email Body Template</ion-title>
    </ion-navbar>
  
  </ion-header>
  <ion-content>
  <ion-grid no-border no-padding-left>
      <ion-row>
        <ion-col col-12 col-md-6>
          <ion-item>
            <ion-label stacked>Subject Email</ion-label>
            <ion-input type="text" [(ngModel)]="subject" name="subject" [ngModelOptions]="{standalone: true}"
              placeholder="Subject Email"></ion-input>
          </ion-item>
        </ion-col>
        <!-- ./ion-col -->
  
        <ion-col col-12 col-md-6>
          <ion-item>
            <ion-label stacked>Body Email</ion-label>
            <ion-input type="text" [(ngModel)]="body" name="body" [ngModelOptions]="{standalone: true}"
            placeholder="Body Email"></ion-input>
          </ion-item>
        </ion-col>
        <!-- ./ion-col -->
      </ion-row>
      <!-- ./ion-row -->
      <ion-row>    
        <ion-col col-12 col-md-12>
          <button (click)="search()" small ion-button full outline>SEARCH</button>
        </ion-col>
      </ion-row> 
        
       
    
          <!-- Header -->
          <!-- <ion-row style="" class="grid-head" style="">
              <ion-col col-2>
              </ion-col>
              <ion-col col-4>
                <b>Subject Email</b>
              </ion-col>
              <ion-col col-2-offset>
                </ion-col>
              <ion-col col-4>
                <b>Body Email</b>
              </ion-col>
              
            </ion-row> -->
            <!-- <br>
            <br> -->

            <div margin-top class="task-lists" margin-bottom padding-bottom>
                <div task-list *ngFor="let value of emails; let i = index;" margin-vertical padding-vertical> 
                  <div style="float:left; margin-right:8px;" >
                      <input type="radio" id="pick" name="selectOne" (click)="idRadio(value.subject,value.body)"
                        style="float:left; margin-left:20px; margin-top:5px;"><label style="margin-left:10px; font-size:1.2em;">{{value.subject}}</label>
                  </div>
                    <ion-grid>
                        <ion-row>
                          <ion-col col-12 class="item" style="margin-left:20px;">
                              <div text-uppercase field-name>Body</div>
                              <span [innerHTML]="value.body"></span>
                          </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <!-- ./task-list -->
              </div>



            <!-- <ion-row *ngFor="let value of emails; let i = index;" class="cont-rows">   
                <ion-col col-2>
                    <ion-list radio-group name="id" [(ngModel)]="id">
                        <input type="radio" name="selectOne" (click)="idRadio(value.subject,value.body)"
                        style="float:left;">
                      
                     
                    </ion-list>
                </ion-col>
              <ion-col col-4>
                {{value.subject}}
              </ion-col>
              <ion-col col-2-offset>
                </ion-col>
              <ion-col style="margin-top:0; float:top" col-4 [innerHTML]="value.body">
              </ion-col>
              
            </ion-row> -->
  
            <ion-row *ngIf="emails?.length > 0 && lengthData == size">
                <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                  <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-row>

          </ion-grid>
</ion-content>
<ion-footer>
      <ion-toolbar padding>
          <ion-col col-12 col-md-12>
              <button (click)="useEmails(subject,body)" ion-button full no-margin>USE</button>
          </ion-col>
      </ion-toolbar>
</ion-footer>

 