<ion-content padding>
  <div small color-red padding-left padding-bottom>
    <h5 text-center>New Business</h5>
    Task Due Today ({{mainMenu.taskDueCount}})
  </div>
  <ion-grid margin-bottom>
    <ion-row head-dropdown>
      <ion-col col-6>
        <ion-item>
          <ion-select interface="popover" [(ngModel)]="sorting" (ionChange)="sortBy(sorting)">
            <ion-option value="{{item.value+'-'+item.sort}}" *ngFor="let item of sortByItem" >{{item.text}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-select interface="popover" [(ngModel)]="filter" (ionChange)="filterBy(filter)">
            <ion-option value="{{item.value}}" *ngFor="let item of filterByItem" >{{item.text}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div margin-top class="task-lists" margin-bottom padding-bottom>
    <div task-list *ngFor="let item of items" margin-vertical padding-vertical>
      <h6 cursor-pointer (click)="openTaskDueTodayDetails(item)"><span tor class="{{item.tor}}" text-uppercase>{{item.tor}}</span>{{item.roleDistribution}}<span *ngIf="item.activityName">::</span>{{item.activityName}}<span *ngIf="item.description">::</span>{{item.description}}<ion-icon float-right name="ios-arrow-forward" color-red></ion-icon></h6>
      <ion-grid>
        <ion-row>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>State</div>
            <span color-red>Ready</span>
          </ion-col>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Source of business</div>
            {{item.sourceOfBusiness}}
          </ion-col> 
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Created Date</div>
            {{item.createdDate | date: 'EEE, dd MMM y HH:mm:ss'}}
          </ion-col>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>SPAJ Number</div>
            {{item.spajNumber}}
          </ion-col>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Premium Indicator</div>
            {{item.premiumIndicator}}
          </ion-col>
          <ion-col col-md-4 col-6 class="item">
            <div text-uppercase field-name>Policy Number</div>
            {{item.policyNumber}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="details-container">
        <div color-red open-details (click)="openDetails($event, item)">
          <span style="display: none;">hide details <ion-icon  name="md-arrow-dropup" color-red></ion-icon></span>
          <span>open details <ion-icon name="md-arrow-dropdown" color-red></ion-icon></span>
        </div>
        <div class="details">
          <ion-grid>
            <ion-row>
              <ion-col col-md-4 col-6 class="item">
                <div text-uppercase field-name>Aging Days</div>
                {{item.agingDays}}
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Bank Channel</div>
                {{item.bankChannel}}
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Scan Date</div>
                {{item.scanDate}}
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Last Decision</div>
                {{item.lastActionUser}}
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Total SAR</div>
                {{item.totalSAR}}
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Component Code</div>
                {{item.componentCode}}
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Source Submission</div>
                {{item.sourceOfSubmission}}
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Policy Format</div>
                {{item.format}}
              </ion-col>
              <ion-col col-md-4 col-6 class="item">
              <div text-uppercase field-name>Trigger Source</div>
                {{item.sourceCallUser}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>
