<div padding>
  <h1>Workbasket</h1>
  <ion-tabs tabsPlacement="top" class="has-right-menu" selectedIndex="1">
    <ion-tab tabTitle="Task Due Today ({{mainMenu.taskDueCount}})" [root]="tab2"></ion-tab>
  </ion-tabs>`
</div>
