<ion-header>
    <ion-navbar bg-none>
        <h6 no-margin cursor-pointer></h6>
    </ion-navbar>
</ion-header>
<ion-content padding>
  <!-- <div *ngIf='valid == false'>
    <p style="color: #ea6153;">Please fill out all details accurately.</p>
  </div> -->
  <form>
    <!-- <ion-item>
          <ion-input type="text" [(ngModel)]="id" name="id" [ngModelOptions]="{standalone: true}">{{id}}</ion-input>
        </ion-item> -->
        <ion-col col-12>
            <ion-item>
              <ion-label stacked>Subject Email</ion-label>
              <ion-input type="text" [(ngModel)]="subject" name="subject" [ngModelOptions]="{standalone: true}"
                ></ion-input>
            </ion-item>
          </ion-col>

    <!-- <ion-item *ngIf="!editForm.controls.subject.valid  && (editForm.controls.subject.dirty || valid)">
      <p>Please enter a valid subject.</p>
    </ion-item> -->

    <div class="bodyck">
      <ion-label>Body Email</ion-label>
        <!-- <ckeditor [(ngModel)]="body" [config]="config" [readonly]="false" debounce="0" [ngModelOptions]="{standalone: true}">
          <ckbutton [name]="'insertAgentNameButton'"
            [command]="'insertAgentName'"
            (click)="insertAgentName($event)"
            [icon]="'icon-person.png'"
            [label]="'Insert Agent Name'"
            [toolbar]="'colors,3'"></ckbutton>
        </ckeditor> -->
        <div class="document-editor">
            <div class="document-editor__toolbar"></div>
            <div class="document-editor__editable-container">
                <div id="document-editor-editable" #documentEditorEditable></div>
            </div>
        </div>
    </div>
    <!-- <ion-row>
        <ion-col col-12 col-md-12>
            <p style="float:right">{{charactersLeft}} character(s) left</p>
        </ion-col>      
    </ion-row> -->
    <!-- <ion-item *ngIf="!editForm.controls.body.valid  && (editForm.controls.body.dirty || valid)">
      <p>Please enter a valid body.</p>
    </ion-item> -->
    <ion-row>    
        <ion-col col-12 col-md-12>
            <button ion-button type="submit" (click)="edit(id,body,subject)"  small ion-button full outline>SAVE</button>
        </ion-col>
        <!-- <ion-col col-12 col-md-6>
            <button ion-button type="reset" (click)="cancel()" small ion-button full outline>CANCEL</button>
        </ion-col> -->
      </ion-row>  
  </form>
</ion-content>