<ion-content padding> 
  <ion-grid no-border no-padding-left>
      <ion-row>
          <ion-col col-12 col-md-6 style="margin-left:15px;">
              <input type="checkbox" id="subject" [(ngModel)]="searchOption.subject" name="subject" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="subject">Subject</label>
              <ion-input *ngIf="searchOption.subject" [disabled]="!searchOption.subject" class="padding-left-20" border-bottom-gray bg-none [(ngModel)]="subject" placeholder="Type Subject Here"></ion-input>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12 col-md-6 style="margin-left:15px;">
              <input type="checkbox" id="body" [(ngModel)]="searchOption.body" name="body" class="margin-right-5 vertical-align-sub"><label cursor-pointer for="body">Body</label>
              <ion-input *ngIf="searchOption.body" [disabled]="!searchOption.body" class="padding-left-20" border-bottom-gray bg-none [(ngModel)]="body" placeholder="Type Body Here"></ion-input>
          </ion-col>
      </ion-row>
      
      <!-- ./ion-col -->
 
    <!-- ./ion-row -->
    <ion-row>    
      <ion-col col-12>
        <button (click)="search()" small ion-button full outline>SEARCH</button>
      </ion-col>
    </ion-row>  
    <!-- ./ion-row -->
    <ion-row>    
      <ion-col col-12 col-md-6>
        <button (click)="openAdd()" small ion-button full outline>ADD</button>
      </ion-col>
      <ion-col col-12 col-md-6>
          <button (click)="delete()" small ion-button full outline>DELETE</button>
      </ion-col>
    </ion-row>  
    <!-- ./ion-row -->
  </ion-grid>
  <!-- ./ion-grid -->
  <div margin-top class="task-lists" margin-bottom padding-bottom>
    <div task-list *ngFor="let email of emails; let i = index;" margin-vertical padding-vertical> 
      <div style="float:left; margin-right:8px; padding-bottom:7px;" >
          <ion-checkbox [(ngModel)]="email.checked" [ngModelOptions]="{standalone: true}">
              </ion-checkbox>
      </div>
      <div>
            <h6 style="margin-bottom:0; margin-top:0.1rem;" cursor-pointer (click)="openEdit(i)">
              {{email.subject}}
              <ion-icon float-right name="ios-arrow-forward" color-red></ion-icon>
            </h6>
        <!-- ./h6 -->
      </div>
        <ion-grid>
            <ion-row>
              <ion-col col-12 class="item">
                  <div text-uppercase field-name>Body</div>
                  <span [innerHTML]="email.body"></span>
              </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!-- ./task-list -->
  </div>
  <!-- ./task-lists -->
  
  <ion-row *ngIf="emails?.length > 0 && lengthData == size">
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-row>
</ion-content>
        <!-- <p >{{value}}</p> -->
        <!-- <button ion-button block (click)="closeModal()">Close Modal</button> -->
		
		
		