page-email {
    .bodyck {
        margin-left:15px;
    }

    input[type='file']#files {
        color: transparent;
    }
}

.alert-checkbox-button-ios.alert-checkbox-button-default.alert-checkbox-button-default-ios:disabled {
    opacity:1;
    .alert-checkbox-label {
        font-size: 17px;
        color: black;
    }

    .alert-checkbox-icon {
        border-style:none;
        width:0px;
        margin:2px;
    }
    
}

.document-editor__editable-container {
    border: 1px solid #c4c4c4; 
}

#document-editor-editable {
    height: 250px;
    overflow: scroll;
}



