<ion-header>
        <ion-navbar bg-none>
            <h6 no-margin cursor-pointer></h6>
        </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <div style="margin-bottom:20px; font-size:125%">
                COMPOSE EMAIL
            </div>
            <div>
                <ion-row>
                    <ion-col col-12 col-md-6>
                        <input type="radio" id="manual" [(ngModel)]="actionOption1" value="manual" name="manual" class="margin-right-5 vertical-align-sub"><label style="font-size:110%" cursor-pointer for="manual">Find Agent Manually</label>
                    </ion-col>
                    
                    <ion-col col-12 col-md-6>
                        <input type="radio" id="upload" [(ngModel)]="actionOption1" value="upload" name="upload" class="margin-right-5 vertical-align-sub"><label style="font-size:110%" cursor-pointer for="upload">Upload Agent Codes List</label>
                    </ion-col>      
                    <div style="margin-top:20px; width:100%" *ngIf="actionOption1=='manual'">
                            <ion-col col-12>
                                <ion-item>
                                    <ion-label stacked>Agent</ion-label>
                                        <ion-input 
                                        type="text" 
                                        [(ngModel)]="agent" 
                                        name="agent" 
                                        [ngModelOptions]="{standalone: true}"
                                        
                                        placeholder="Type Agent Name/Code"></ion-input>
                                </ion-item>
                            </ion-col>
                        <ion-col col-12>
                            <ion-item>
                                <ion-label stacked>Agent Type</ion-label>
                                <ion-select 
                                    [(ngModel)]="selectedAgentTypes" 
                                    multiple="true"
                                    >
                                    <ion-option disabled>Agency</ion-option>
                                    <ion-option
                                        [value]="agentType" 
                                        *ngFor="let agentType of agency"
                                        >{{agentType}}</ion-option>
                                    <ion-option disabled>Bancassurance</ion-option>
                                    <ion-option
                                        [value]="agentType" 
                                        *ngFor="let agentType of fd"
                                        >{{agentType}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-12>
                            <ion-label stacked
                                style="margin-left:15px;"
                                >Office Codes</ion-label>  
                        
                                <ion-item>
                                    <select-searchable
                                        *ngIf="!toggleButton2"
                                        style="color:grey; font-size:1.2rem;"
                                        [(ngModel)]="officeCodes"
                                        title="Select Office Codes"
                                        [items]="availableOfficeCodes"
                                        [canSearch]="true"
                                        [multiple]="true"
                                        >
                                    </select-searchable>
                                        <button ion-button item-right (click)="selectAll()">Select All</button>
                                        <button ion-button item-right (click)="reset()">Deselect All</button>
                                </ion-item>
                            
                        </ion-col>
                    </div>   
                    <div *ngIf="actionOption1=='upload'">
                            <ion-col col-12>
                                <button style="margin-left:10px;" ion-button small outline (click)="download()">
                                    Download Template
                                </button>  
                                <ion-label 
                                    stacked
                                    style="margin-left:15px;"
                                        >Upload Agent Codes</ion-label>
                                <input
                                    
                                    type="file" 
                                    #fileAgentCodes 
                                    placeholder="Upload file..." 
                                    style="margin-left:15px;"
                                    />
                            </ion-col>
                    </div>
            </ion-row>
        </div>
    </div>
    <ion-col col-12 class="searchbody">
        <button small ion-button full outline (click)="openTemplate()">SEARCH EMAIL TEMPLATE</button>
    </ion-col>
    <form>
        <ion-col col-12>
            <ion-item>
                <ion-label stacked>Subject Email</ion-label>
                <ion-input type="text" [(ngModel)]="subjectModel" name="subject" [ngModelOptions]="{standalone: true}"
                ></ion-input>
            </ion-item>
        </ion-col>
        
        <div class="bodyck">
            <ion-label style="font-size:1.2rem;">Body Email</ion-label>
            <!-- <ckeditor [(ngModel)]="bodyModel" [config]="config" [readonly]="false" debounce="0" [ngModelOptions]="{standalone: true}">
                    <ckbutton [name]="'insertAgentNameButton'"
                      [command]="'insertAgentName'"
                      (click)="insertAgentName($event)"
                      [icon]="'icon-person.png'"
                      [label]="'Insert Agent Name'"
                      [toolbar]="'colors,3'"></ckbutton>
            </ckeditor> -->
            <div class="document-editor">
                <div class="document-editor__toolbar"></div>
                <div class="document-editor__editable-container">
                    <div id="document-editor-editable" #documentEditorEditable></div>
                </div>
            </div>
        </div>
        <!-- <p style="float:right">{{charactersLeft}} character(s) left</p> -->
        <ion-col col-12>
            <ion-label 
                stacked
                style="margin-left:15px;"
                    >File</ion-label>
            <input 
                type="file" 
                id="files"
                #fileInput 
                placeholder="Upload file..." 
                style="margin-left:15px;"
                multiple
                (change)="onChange($event)"
                />
        </ion-col>
        <ion-col *ngIf="Names">
            <div style="margin-left:15px; margin-top:10px; margin-bottom:10px;">File(s) to be uploaded: {{Names}}</div>
            <button ion-button item-right (click)="resetFile()" style="margin-left:15px; height:115%;">Reset</button>
        </ion-col>
            <ion-list-header>
                    SEND TIME
                </ion-list-header>
                <ion-row style="margin-top:10px;">
                    <ion-col col-12 col-md-6>
                        <input type="radio" id="now" [(ngModel)]="actionOption" value="now" name="now" class="margin-right-5 vertical-align-sub"><label style="font-size:110%" cursor-pointer for="now">Send Now</label>
                    </ion-col>
                    <ion-col col-12 col-md-6>
                        <input type="radio" id="later" (click)="nowTime()" [(ngModel)]="actionOption" value="later" name="later" class="margin-right-5 vertical-align-sub"><label style="font-size:110%"  cursor-pointer for="later">Send Later</label>
                    </ion-col>
                </ion-row>
            
            <ion-row>
                <ion-col col-12 col-md-6>
            
                </ion-col>
                <ion-col col-md-6 col-12>
                        <ion-datetime
                            pickerFormat="YYYY-MM-DDTHH:mm" 
                            displayFormat="DD-MM-YYYY HH:mm" 
                            *ngIf='actionOption=="later"' 
                            [minuteValues]="minute" 
                            name="sendTime"
                            [min]="nowDate" 
                            [max]="maxDate"
                            placeholder="Select date" 
                            [(ngModel)]="sendTimeModel"
                            style="padding-left:11px;"
                            ></ion-datetime>
                </ion-col>
            </ion-row>

        <ion-row>    
            <ion-col col-12 col-md-12>
                <button (click)="postEmail(subjectModel,sendTimeModel,emailAttachmentsModel)" ion-button full no-margin>SEND</button>
            </ion-col>
            <!-- <ion-col col-12 col-md-6>
                <button ion-button type="reset" (click)="cancel()" small ion-button full outline>CANCEL</button>
            </ion-col> -->
        </ion-row>         
    </form>
</ion-content>