#data-review{
  *{
    // text-transform: uppercase;
  }

  .label-100{
    width: 100px;
  }

  .label-50{ 
    width: 50px; 
  } 

  ion-select .select-placeholder{
    color: red;
  }

  .max-width-110 ion-item{max-width: 110px !important;}
}

.transfer-role-container{
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.evidence-code{
  .ion-checkmark-evcode{
    font-size: 30px;
    font-weight: bold;
    top: -5px;
    position: relative;
    vertical-align: text-top;
  }
}

page-task-due-today-details{
  .button-ios.data-loaded{
    background-color: map-get($colors, gray);
  }
}