<ion-content padding>
  <div class="searchbox">
    <ion-searchbar (ionInput)="getItems($event)"  placeholder="Type in name (enter to start searching)" showCancelButton="false"></ion-searchbar>
    <button ion-button icon-left class="btn-adv-search">
      <ion-icon class="img-icon adv-search"></ion-icon>
      ADVANCED
    </button>
  </div>
  <ion-grid margin-bottom>
    <ion-row head-dropdown>
      <ion-col col-6>
        <ion-item>
          <ion-select interface="popover" [(ngModel)]="sorting" (ionChange)="sortBy(sorting)">
            <ion-option value="{{item.value+'-'+item.sort}}" *ngFor="let item of sortByItem" >{{item.text}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-select interface="popover" [(ngModel)]="filter" (ionChange)="filterBy(filter)">
            <ion-option value="{{item.value}}" *ngFor="let item of filterByItem" >{{item.text}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div margin-top class="task-lists" margin-bottom padding-bottom>
    <div task-list *ngFor="let user of listUser" class="task-round-list" cursor-pointer (click)="openUserDetails(user.id)">
      <div class="round-icon">hs</div>
      <ion-grid>
        <ion-row>
          <ion-col col-md-4 col-4 class="item">
            <div text-uppercase field-name>Full Name </div>
            <span>{{user.firstName}} {{user.lastName}}</span>
          </ion-col>
          <ion-col col-md-4 col-4 class="item">
            <div text-uppercase field-name>dept/title </div>
            <span><!-- IT - Project Manager --></span>
          </ion-col>
          <ion-col col-md-4 col-4 class="item">
            <div text-uppercase field-name>email </div>
            <span>{{user.email}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="btn-link-icon"><ion-icon float-right name="ios-arrow-forward" color-red></ion-icon></div>
    </div>
  </div>
</ion-content>